<h1>Like Gate</h1>

	{{#unless onFacebook}}
	<div class="social-wrap">
		<button id="js-fb-login" class="facebook">Aanmelden</button>
	</div>
{{/unless}}


<div class="fb-likebox">
	<div class="fb-like-box" data-href="https://www.facebook.com/{{pageId}}" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
</div>
