<ul>
    <!--
    {{#each languages}}
        --><li class="js-switch-lang {{#if_eq ../language this}}active{{/if_eq}}" data-lang="{{this}}"><p >{{lang "lang" this}}</p></li><!--
    {{/each}}
    -->
</ul>