//	Pong examples sass file |  https://github.com/contentcowboys/Pong 
//
// 	These sass styling is used for the example templates,
// 	these styles are only used for documentation purpose
// 	this file is not included in the main.scss file so arent 
// 	usable in your templates

// Vertical align example
.parent{
  height:300px;
  background: $lime;
  .child{
    @include vertical-align;
    background: $fuchsia;
  }
} 