@mixin bodyFont(){
  font-family: "open-sans";
}

@mixin headerFont(){
  font-family: "futura-pt-condensed";
}

h1,h2,.button {
  @include headerFont();
}

h1{
  font-size: 26px;
  text-transform: uppercase;
  color: $main-color;
  text-align : center;
}

body {
  @include bodyFont();
  color : $black;
  font-size: 13px;
  line-height: 1.3em;
}


.legal {
  font-size: 11px;
  color: $legal;
}