// Sass utilities
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/helpers";
 
// Vendors and external stylesheets
@import "vendors/animate";
 
// Base stuff
@import "base/reset";
@import "base/typography";
 
// Layout related stylesheets
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/forms";
 
// Components and modules
@import "components/buttons";
@import "components/navigation";
 
// Page-specific stylesheets
@import "pages/home";
 
// Themes 
@import "themes/theme";

//PLEASE ADD TO REAL CSS

.error{
  background-color: red;
}
.form-error{
  display:none;
}


.page{ //add transistions to this
  display: none;
  position: absolute;
  top:0;
  left:0;
  right:0;
  &.active{
    display:block;
  }
}