<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        {% block styles %}
            <link rel="stylesheet" href="css/main.css" />            
        {% endblock %}
        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block content %}{% endblock %}        

        {% block scripts %}          
            <script src="javascript/libs.min.js"></script>
            {% if environment == "online" %}            
                <script src="javascript/main.min.js"></script>
            {% else %}
                <script src="javascript/dev/main.js"></script>
            {% endif %}
        {% endblock %}

        <!-- Google Analytics -->
        <script>
            (function(v,i,n,c,e,n,t){v['GoogleAnalyticsObject']=e;v[e]=v[e]||function(){
            (v[e].q=v[e].q||[]).push(arguments)},v[e].l=1*new Date();n=i.createElement(n),
            t=i.getElementsByTagName(n)[0];n.async=1;n.src=c;t.parentNode.insertBefore(n,t)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{% block trackingcode %}{% endblock %}');
            ga('send', 'pageview');
        </script>

    </body>
</html>