<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        {% block styles %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />            
        {% endblock %}
        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->

    </head>

    <body class="{{ userLanguage }} {% block bodyClass %}{% endblock %}">

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block content %}{% endblock %}        

        {% block scripts %}          
            <script src="{{ asset('javascript/libs.min.js') }}"></script>
            {% if environment == "online" %}            
                <script src="{{ asset('javascript/main.min.js') }}"></script>
            {% else %}
                <script src="{{ asset('javascript/dev/main.js') }}"></script>
            {% endif %}
        {% endblock %}

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ googleAnalyticsCode }}');
            ga('send', 'pageview');
        </script>

    </body>
</html>