.button {
  cursor: pointer;
  padding: 10px;
  margin : 10px 0px;
  width: 100%;
  &.main {
    color : $main-button-font;
    background-color : $main-button-background;
  }
  &.grey {
    color : $grey-button-font;
    background-color : $grey-button-background;
  }
  &.option {
    color : $option-button-font;
    background-color : $option-button-background;
  }
}