$pad: 10px;

.row {
    &:after {
        // clearfix
        content: "";
        display: table;
        clear: both;
    }
}

[class*='col-'] {
    float: left;
    width: 100%;
    padding-bottom: 10px;

    @include mq(n) {
        padding-right: $pad;
        .grid &:last-of-type {
            padding-right: 0;
        }
    }
}
