{# This is the master template to use, only change if you made your own master template #}
{% extends "templates/master.boilerplate.html" %}

{# Add all html code between these block elements #}
{% block content %}
	<div class="content">
		<h1>Tis is an example</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, 
			ipsum, ducimus cupiditate numquam nobis pariatur molestiae ad fugiat maiores 
			velit accusamus nesciunt ab deserunt nam delectus rerum quae officia eveniet!
		</p>
		{# You can add php variables like so #}
		<p>This is the variable defined your routes as $app->data['foo'] ==> {{ foo }}</p>
	</div>
{% endblock %}

{# Set your html title here, this will be displayed in the header of the browser #}
{% block title %}Title of your page{% endblock %}

{# Add your Google analytics tracking code here: change UA-XXXXX-X to be your site's ID. #}
{% block trackingcode %}UA-XXXXX-X{% endblock %}

{# If you want you can specify a class name you want the body element to have, this is optional #}
{% block bodyClass %}some-page{% endblock %}

{% block styles %}
	{# If you don't want to include main.css, remove the next line #}
    {{ parent() }}
    {# You can include other css files here #}
    <!-- <style type="text/css" src="css/somefile.css"></style> -->
{% endblock %}

{% block scripts %}
	{# If you don't want to include the main and libs javascript file, remove the next line #}
    {{ parent() }}    
    {# You can include other css files here #}
    <!--<script type="text/javascript" src="javascript/somejsfile.js"></script>-->
{% endblock %}