<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add Tab to page</title>
</head>
<body>
    <a href="https://www.facebook.com/dialog/pagetab?app_id={{onlineAppId}}&redirect_uri={{url}}">Click here to add tab to page</a>
</body>
</html>